<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-bordered">
      <caption>
        <span class="pull-right">
          <%= link_to "Add User", new_user_url, class: "btn btn-success" %>
        </span>
        Users!
      </caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Admin?</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user_url(user) %></td>
            <td><%= user.email %></td>
            <td><%= user.is_admin ? "Yes" : "no" %></td>
            <td class="buttons">
              <%= link_to "Edit", edit_user_url(user),
                class: "btn btn-success btn-xs"
              %>
              <%= link_to "Delete", user_url(user),
                method: :delete, confirm: "Are you sure?",
                class: "btn btn-danger btn-xs"
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
